<!DOCTYPE html>
<html>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
  </head>

  <body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Trinity EAM</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/units">Units <span class="sr-only">(current)</span></a></li>
        <li><a href="/parts">Parts</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/user">{{ logged_username }}</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div class="container"   style="margin-bottom: 60px;">


      <!-- child template -->
      {% block content %}{% endblock %}

      <!-- errors -->
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}

    </div>

    <div class="navbar navbar-default navbar-fixed-bottom" role="navigation"  style="margin-bottom: 0px;" >
    	<div class="container">
    		<p class ="navbar-text"> &copy; Harbinger Analytics | 2017</p>
    	</div>
    		<!--<div class="navbar-text pull-right">
    			<a href="https://www.facebook.com/chase.smith.7370" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
    			<a href="https://twitter.com/smithc0222" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
    			<a href="https://www.linkedin.com/pub/chase-smith/21/682/2aa" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
          <a href="mailto:bcsmith3@uncg.edu"><span class="glyphicon glyphicon-envelope"></span></a>
    		</div>-->
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
  </body>
</html>
