{% extends "base.html" %}
{% block content %}
  <h1>Trinity EAM</h1>
  <div class="btn-group">
    <a href="/logout"><button type="button" class="btn btn-danger">Logout</button></a>
  </div>
  <br>
  <h3>Units:</h3>
{% for unit in units %}
  <strong>Unit:</strong> {{ unit.unit }} <br>
  <strong>Description:</strong> {{ unit.description }} <br>
  <br>
{% endfor %}
  <div class="btn-group">
    <a href="/units"><button type="button" class="btn btn-primary">View Units</button></a>
  </div>
  <br><br>
  <hr>
  <h3>Parts:</h3>
{% for part in parts %}
  <strong>Unit:</strong> {{ part.name }} <br>
  <strong>Description:</strong> {{ part.description }} <br>
  <strong>Quantity On Hand:</strong> {{part.quantity_on_hand}}
  <br>
  <br>
{% endfor %}
  <div class="btn-group">
    <a  href="/parts"><button type="button" class="btn btn-primary">View Parts</button></a>
  </div>
{% endblock %}
