{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Schedule</div>

    <!-- Table -->
    <table class="table table-sm">
    <thead>
      <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Work Order</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1/14/17</th>
        <td>Chris Swails</td>
        <td>483993</td>
        <td>HVAC Air Filter Weekly</td>
      </tr>
      <tr>
        <th scope="row">1/14/17</th>
        <td>Chris Swails | Cory Sinclair</td>
        <td>923882</td>
        <td>Change P882 Innomag C7</td>
      </tr>
      <tr>
        <th scope="row">1/14/18</th>
        <td>Tommy Chavis</td>
        <td>830949</td>
        <td>Change Railcar Valve</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

<p> {{ logged_username }} </p>
<form class="form-inline">
  <div class="form-group">
    <label for="example-search-input" class="col-4 col-form-label">Search:</label>
      <input class="form-control" type="search" placeholder="Unit or Part Name" id="search-input">
      <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>
<br>
  <h3 class="text-center">Units</h3>
{% for unit in units %}
<div class="jumbotron">
  <strong>Unit:</strong> {{ unit.unit_name }} <br>
  <strong>Description:</strong> {{ unit.description }} <br>
  <strong>Parts Used:</strong>
  <hr>
  {% for each in unit.spares %}
  <ul>
    <li>ID: {{ each.id}}</li>
    <li>Name: {{ each.name }}</li>
    <li>Description: {{each.description}}</li>
    <li>QOH: {{each.quantity_on_hand}}</li>
  </ul>
  <hr>
  {% endfor %}
</div>
  {% endfor %}
  <hr>
  <h3 class="text-center">Parts</h3>
{% for part in parts %}
<div class="jumbotron">
  <strong>Part ID:</strong> {{ part.id }}<br>
  <strong>Unit:</strong> {{ part.name }} <br>
  <strong>Description:</strong> {{ part.description }} <br>
  <strong>Quantity On Hand:</strong> {{part.quantity_on_hand}}
  <br>
  </div>

{% endfor %}

{% endblock %}
