
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
  </head>

  <body>
    <!-- HEADER -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Trinity EAM</a>
        </div>
      </div>
    </nav>
  <!-- Page Main Body Login -->
    <div class="container-fluid text-center">
      <div class="jumbotron" style="margin-top: 200px;">
        <h1>Please login</h1>
        <hr>
        <form action="" method="post">
          <input type="text" placeholder="Username" name="username" value="{{
            request.form.username }}" style="margin-bottom: 10px">
            <br>
          <!-- <input type="password" placeholder="Password" name="password" value="{{
            request.form.password }}" style="margin-bottom: 10px">
            <br> -->
          <input class="btn btn-default" type="submit" value="Login">
        </form>
      </div>
      <p> {{ error }}</p>
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom" role="navigation"  style="margin-bottom: 0px;" >
    	<div class="container">
    		<p class ="navbar-text"> &copy; Harbinger Analytics | 2017</p>
    	</div>
    		<!--<div class="navbar-text pull-right">
    			<a href="https://www.facebook.com/chase.smith.7370" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
    			<a href="https://twitter.com/smithc0222" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
    			<a href="https://www.linkedin.com/pub/chase-smith/21/682/2aa" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
          <a href="mailto:bcsmith3@uncg.edu"><span class="glyphicon glyphicon-envelope"></span></a>
    		</div>-->
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
  </body>
</html>
